.contact {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &__form {
    width: 45%;
    display: flex;
    flex-direction: column;

    .contact__field {
      margin-bottom: 20px;
    }

    .contact__label {
      font-size: 1.2rem;
      margin-bottom: 10px;
      display: block;
    }

    .contact__input {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 1rem;
      background-color: #f0f0f0;
    }

    .contact__textarea {
      height: 100px;
      resize: none; // matn maydonini o'zgartirishni cheklaydi
    }

    .contact__submit {
      padding: 10px 20px;
      background-color: #ff4b4b;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 1.1rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #ff3333;
      }
    }
  }

  &__map {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;

    .contact__map-frame {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
