.delivery {
  padding: 50px 0;
  background-color: #fff;

  &__container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Har biri teng ulushda */
    gap: 20px;
    text-align: center;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); /* O'rta ekranlarda 2ta ustun */
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; /* Kichik ekranlarda 1ta ustun */
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 14px;
    color: #777;
  }
}
